/vendor/
/var/
/vendor/
/.idea/
.vscode
/*.lock
/.phpunit.result.cache
/.DS_Store
/tests/App/var/
/tests/App/vendor/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
